@font-face {
  font-family: 'Vizheh Azad';
  font-weight: normal;
  src: url('./assets/fonts/vizheh-azad/normal/vizheh-azad-normal.woff2') format('woff2'),
    url('./assets/fonts/vizheh-azad/normal/vizheh-azad-normal.woff') format('woff'),
    url('./assets/fonts/vizheh-azad/normal/vizheh-azad-normal.ttf') format('truetype');
}
