@font-face {
  font-family: 'Samim';
  font-weight: normal;
  src: url('./assets/fonts/samim/normal/samim-normal.eot');
  src: url('./assets/fonts/samim/normal/samim-normal.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/samim/normal/samim-normal.woff') format('woff'),
    url('./assets/fonts/samim/normal/samim-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Samim';
  font-weight: bold;
  src: url('./assets/fonts/samim/bold/samim-bold.eot');
  src: url('./assets/fonts/samim/bold/samim-bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/samim/bold/samim-bold.woff') format('woff'),
    url('./assets/fonts/samim/bold/samim-bold.ttf') format('truetype');
}
