@font-face {
  font-family: 'Shabnam';
  font-weight: normal;
  src: url('./assets/fonts/shabnam/normal/shabnam-normal.eot');
  src: url('./assets/fonts/shabnam/normal/shabnam-normal.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/shabnam/normal/shabnam-normal.woff') format('woff'),
    url('./assets/fonts/shabnam/normal/shabnam-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Shabnam';
  font-weight: bold;
  src: url('./assets/fonts/shabnam/bold/shabnam-bold.eot');
  src: url('./assets/fonts/shabnam/bold/shabnam-bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/shabnam/bold/shabnam-bold.woff') format('woff'),
    url('./assets/fonts/shabnam/bold/shabnam-bold.ttf') format('truetype');
}
