@font-face {
  font-family: 'Parastoo';
  font-weight: normal;
  src: url('./assets/fonts/parastoo/normal/parastoo-normal.eot');
  src: url('./assets/fonts/parastoo/normal/parastoo-normal.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/parastoo/normal/parastoo-normal.woff') format('woff'),
    url('./assets/fonts/parastoo/normal/parastoo-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Parastoo';
  font-weight: bold;
  src: url('./assets/fonts/parastoo/bold/parastoo-bold.eot');
  src: url('./assets/fonts/parastoo/bold/parastoo-bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/parastoo/bold/parastoo-bold.woff') format('woff'),
    url('./assets/fonts/parastoo/bold/parastoo-bold.ttf') format('truetype');
}
