@font-face {
  font-family: 'Noon';
  src: url('./assets/fonts/noon/normal/noon-normal.woff2') format('woff2'),
    url('./assets/fonts/noon/normal/noon-normal.woff') format('woff'),
    url('./assets/fonts/noon/normal/noon-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
