@font-face {
  font-family: 'Milad Azad';
  font-weight: normal;
  src: url('./assets/fonts/milad-azad/normal/milad-azad-normal.woff2') format('woff2'),
    url('./assets/fonts/milad-azad/normal/milad-azad-normal.woff') format('woff'),
    url('./assets/fonts/milad-azad/normal/milad-azad-normal.ttf') format('truetype');
}
