@font-face {
  font-family: 'Shahab';
  src: url('./assets/fonts/shahab/normal/shahab-normal.woff2') format('woff2'),
    url('./assets/fonts/shahab/normal/shahab-normal.woff') format('woff'),
    url('./assets/fonts/shahab/normal/shahab-normal.ttf') format('truetype'),
    url('./assets/fonts/shahab/normal/shahab-normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
