@font-face {
  font-family: 'Xero Sans';
  src: url('./assets/fonts/xero-sans/normal/xero-sans-normal.eot');
  src: url('./assets/fonts/xero-sans/normal/xero-sans-normal.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/xero-sans/normal/xero-sans-normal.svg#Elusive-Icons') format('svg'),
    url('./assets/fonts/xero-sans/normal/xero-sans-normal.woff') format('woff'),
    url('./assets/fonts/xero-sans/normal/xero-sans-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
