@font-face {
  font-family: 'Behdad';
  src: url('./assets/fonts/behdad/normal/behdad-normal.woff2') format('woff2'),
    url('./assets/fonts/behdad/normal/behdad-normal.woff') format('woff'),
    url('./assets/fonts/behdad/normal/behdad-normal.ttf') format('truetype'),
    url('./assets/fonts/behdad/normal/behdad-normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
