@import './fonts/bbc-nassim/_index.scss';
.bbc-nassim {
  font-family: 'BBC Nassim', serif;
}
@import './fonts/behdad/_index.scss';
.behdad {
  font-family: 'Behdad', sans-serif;
}
@import './fonts/droid-naskh/_index.scss';
.droid-naskh {
  font-family: 'Droid Naskh', serif;
}
@import './fonts/farbod/_index.scss';
.farbod {
  font-family: 'Farbod', serif;
}
@import './fonts/gandom/_index.scss';
.gandom {
  font-family: 'Gandom', serif;
}
@import './fonts/ganj-nameh/_index.scss';
.ganj-nameh {
  font-family: 'Ganj Nameh', sans-serif;
}
@import './fonts/iran-sans/_index.scss';
.iran-sans {
  font-family: 'Iran Sans', sans-serif;
}
@import './fonts/iran-yekan/_index.scss';
.iran-yekan {
  font-family: 'Iran Yekan', sans-serif;
}
@import './fonts/milad-azad/_index.scss';
.milad-azad {
  font-family: 'Milad Azad', serif;
}
@import './fonts/nazanin/_index.scss';
.nazanin {
  font-family: 'Nazanin', serif;
}
@import './fonts/nika/_index.scss';
.nika {
  font-family: 'Nika', serif;
}
@import './fonts/noon/_index.scss';
.noon {
  font-family: 'Noon', serif;
}
@import './fonts/parastoo/_index.scss';
.parastoo {
  font-family: 'Parastoo', serif;
}
@import './fonts/sahel/_index.scss';
.sahel {
  font-family: 'Sahel', sans-serif;
}
@import './fonts/samim/_index.scss';
.samim {
  font-family: 'Samim', sans-serif;
}
@import './fonts/shabnam/_index.scss';
.shabnam {
  font-family: 'Shabnam', sans-serif;
}
@import './fonts/shahab/_index.scss';
.shahab {
  font-family: 'Shahab', sans-serif;
}
@import './fonts/vazir/_index.scss';
.vazir {
  font-family: 'Vazir', sans-serif;
}
@import './fonts/vizheh-azad/_index.scss';
.vizheh-azad {
  font-family: 'Vizheh Azad', serif;
}
@import './fonts/xero-sans/_index.scss';
.xero-sans {
  font-family: 'Xero Sans', sans-serif;
}
@import './fonts/yekan/_index.scss';
.yekan {
  font-family: 'Yekan', sans-serif;
}
