@font-face {
  font-family: 'Farbod';
  src: url('./assets/fonts/farbod/normal/farbod-normal.woff2') format('woff2'),
    url('./assets/fonts/farbod/normal/farbod-normal.woff') format('woff'),
    url('./assets/fonts/farbod/normal/farbod-normal.ttf') format('truetype'),
    url('./assets/fonts/farbod/normal/farbod-normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
