@font-face {
  font-family: 'Droid Naskh';
  src: url('./assets/fonts/droid-naskh/normal/droid-naskh-normal.eot');
  src: url('./assets/fonts/droid-naskh/normal/droid-naskh-normal.otf') format('opentype');
  src: local('☺'), local('Droid Arabic Naskh'),
    url('./assets/fonts/droid-naskh/normal/droid-naskh-normal.woff') format('woff'),
    url('./assets/fonts/droid-naskh/normal/droid-naskh-normal.ttf') format('truetype'),
    url('./assets/fonts/droid-naskh/normal/droid-naskh-normal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Naskh';
  src: url('./assets/fonts/droid-naskh/bold/droid-naskh-bold.eot');
  src: url('./assets/fonts/droid-naskh/bold/droid-naskh-bold.otf') format('opentype');
  src: local('☺'), local('Droid Arabic Naskh'),
    url('./assets/fonts/droid-naskh/bold/droid-naskh-bold.woff') format('woff'),
    url('./assets/fonts/droid-naskh/bold/droid-naskh-bold.ttf') format('truetype'),
    url('./assets/fonts/droid-naskh/bold/droid-naskh-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
