@font-face {
  font-family: 'Nika';
  src: url('./assets/fonts/nika/normal/nika-normal.woff2') format('woff2'),
    url('./assets/fonts/nika/normal/nika-normal.woff') format('woff'),
    url('./assets/fonts/nika/normal/nika-normal.ttf') format('truetype'),
    url('./assets/fonts/nika/normal/nika-normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
