@font-face {
  font-family: 'Sahel';
  font-weight: normal;
  src: url('./assets/fonts/sahel/normal/sahel-normal.eot');
  src: url('./assets/fonts/sahel/normal/sahel-normal.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/sahel/normal/sahel-normal.woff') format('woff'),
    url('./assets/fonts/sahel/normal/sahel-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Sahel';
  font-weight: bold;
  src: url('./assets/fonts/sahel/bold/sahel-bold.eot');
  src: url('./assets/fonts/sahel/bold/sahel-bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/sahel/bold/sahel-bold.woff') format('woff'),
    url('./assets/fonts/sahel/bold/sahel-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sahel';
  font-weight: 900;
  src: url('./assets/fonts/sahel/black/sahel-black.eot');
  src: url('./assets/fonts/sahel/black/sahel-black.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/sahel/black/sahel-black.woff') format('woff'),
    url('./assets/fonts/sahel/black/sahel-black.ttf') format('truetype');
}
